* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: skyblue;
    font-size: 3rem;
    padding: 10px 0
}

.cards {
    width: 100%;
    height: auto;
    padding: 0 5%;
}

.card {
    float: left;
    margin: 10px 10px;
    width: 350px;
    height: 450px;
    border: .5px solid;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: 1s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card:hover {
    border: none;
    transform: scale(1.05);
    box-shadow: 4px 6px 8px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.card img {
    width: 350px;
    height: 300px;
}

.card-info {
    padding: 15px 0;
    text-align: center;
}

.card-info span {
    color: gray;
    font-size: 1.4rem;
}

.card-info h3 {
    margin: 6px 0;
    font-size: 2rem;
}

.card-info button {
    padding: 5px 8px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-info a {
    text-decoration: none;
    font-size: 17px;
    color: whitesmoke;
}